	<script type="text/javascript">
		$(document).ready(function(){
    		$(".valor").maskMoney({prefix:'R$ ', decimal:",", thousands:"."});
		});
		
		$(".cancelar").click(function(){
			$(".divBase").show("show");
			$("#divExibir").empty();
		});
    </script>

			<h3 class="page-header">Nova assinatura</h3>
			
			<form th:action="@{/administrador/assinatura}" th:object="${assinatura}" method="post" data-toggle="validator">
				<div class="row">
					<div class="form-group col-md-8">
						<label for="descricao">Descrição</label>
						<textarea class="form-control" rows="3" name="descricao" 
							required="required" data-minlength="6" maxlength="100"
							placeholder="Digite a descrição do serviço" autofocus="true"
							data-required-error="Campo obrigatório" data-minlength-error="Mínimo 6 caracteres"></textarea>
							<div class="help-block with-errors"></div>
					</div>
					<div class="form-group col-md-2">
						<label for="status">Situação</label>
						<select name="status" class="form-control">
							<option th:value="true" th:text="Ativo"></option>
							<option th:value="false" th:text="Inativo"></option>
						</select>
					</div>
					<div class="form-group col-md-2">
						<label for="tipo">Forma de cobrança</label>
						<select name="tipo" class="form-control">
							<option th:value="valorUnico">Valor único</option>
							<option th:value="valorParcelado">Valor parcelado</option>
							<option th:value="valorMensal">Valor mensal</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-3">
						<label for="valorTotal">Valor total</label>
						<input type="text" name="valorTotal" id="valorTotal" class="form-control valor"
						required="required" placeholder="Valor da assinatura" data-required-error="Compo obrigatório"/>
						<div class="help-block with-errors"></div>
					</div>
					<div class="form-group col-md-2">
						<label for="parcelas">Parcelas</label>
						<input type="number" name="parcelas" class="form-control"
						value="1" min="1" max="6" required="required" 
						data-min-error="Mínimo de 1 parcela" data-max-error="Máximo de 6 parcelas"
						data-required-error="Campo obrigatório"/>
						<div class="help-block with-errors" />
					</div>
					<div class="form-group col-md-2">
						<label for="aniversario">Aniversário</label>
						<input class="form-control" name="aniversario" />
						
					</div>
					<div class="form-group col-md-3">
						<label for="vencimento">Vencimento</label>
						<input class="form-control" name="vencimento" />
						
					</div>
				</div>
					
				<div class="row">
					<div class="form-group col-md-2">
						<input type="submit" class="btn btn-primary btn-block" value="Cadastrar"/>
					</div>
					<div class="form-group col-md-2">
						<a href="#" class="cancelar btn btn-primary btn-block">Cancelar</a>
					</div>
				</div>
			</form>