<script type="text/javascript">
	jQuery(function($) {
		
		$("#cpf").attr("readonly", true);
		$("#cpf").css("background-color", "#cccccc");
		
		$("#nome").attr("readonly", true);
		$("#nome").css("background-color", "#cccccc");
		
		$(".valor").maskMoney({
			prefix : 'R$ ',
			decimal : ",",
			thousands : "."
		});
		$(".data").mask("99/99/9999", {
			autoclear : false,
			placeholder : ""
		});
		$(".parcela").mask("99/99", {
			autoclear : false,
			placeholder : ""
		});

		$("#btnCancelar").click(function() {
			$.ajaxSetup({cache : false});
			$("#divExibir").load("../usuario/administrador/usuarios");
		});

		$("#formFatura").validator();
		$("#btnFaturaSalvar").click(function(e) {
			if (!$("#formFatura").data("bs.validator").validate().hasErrors()) {
				console.log("Não contêm erros no formulário...");
				var dados = jQuery($("#formFatura")).serialize();

				$.ajax({
					url : "/administrador/usuario/" + $("#usuarioId").val() + "/fatura",
					type : "post",
					data : dados,
					success : function(response) {
						console.log(response);
						console.log("Gravado com sucesso!!!");
					},
					error : function(jqXHR, textStatus, errorThrown) {
						console.log(textStatus, errorThrown);
					}
				});
				
				$("#divListaUsuario").show("slow");
				$("#btnNovoUsuario").show("slow");
				$("#divFaturaFormulario").empty();
				
				return false;
			} else {
				console.log("Contêm erros no formulário... =(");
			}
		});

	});
</script>
 
		<h3 class="page-header">Lançar fatura</h3>

		<form class="form form-group" id="formFatura" th:object="${fatura}">
			<div class="row">
				<input type="hidden" th:field="${usuario.login}" name="usuario.login" id="usuarioId"/>
				<div class="form-group col-md-8">
					<label for="nome">Nome</label> <input type="text"
						th:field="${usuario.morador.nome}" class="form-control"
						name="morador.nome" id="nome" required="required"
						data-minlength="6" maxlength="50" placeholder="Digite o nome"
						data-required-error="Campo obrigatório"
						data-minlength-error="Mínimo 6 caracteres" />
					<div class="help-block with-errors"></div>
				</div>
				<div class="form-group col-md-4">
					<label for="cpf">CPF</label> <input type="tel"
						th:field="${usuario.morador.cpf}" class="form-control cpf"
						name="morador.cpf" id="cpf" required="required"
						data-minlength="14" placeholder="cpf com 11 números"
						data-required-error="Campo obrigatório"
						data-minlength-error="CPF com 11 números" />
					<div class="help-block with-errors check-cpf"></div>
				</div>
			</div>

			<div class="row">
				<div class="form-group col-md-12">
					<label for="descricao">Descrição</label> <input type="text"
						autofocus="true" class="form-control" name="descricao" id="descricao"
						required="required" placeholder="Descrição da fatura" data-minlength="6"
						data-required-error="Campo obrigatório"
						data-minlength-error="Descrição com no mínimo 6 caracteres" />
					<div class="help-block with-errors"></div>
				</div>
			</div>

			<div class="row">
				<div class="form-group col-md-3">
					<label for="parcela">Parcela</label> <input type="text"
						class="form-control parcela" name="parcela" id="parcela"
						required="required" data-minlength="5" 
						placeholder="EX: 01/05"
						data-required-error="Campo obrigatório EX:01/05"
						data-minlength-error="Mínimo 4 caracteres" />
					<div class="help-block with-errors"></div>
				</div>
				<div class="form-group col-md-3">
					<label for="dataVencimento">Data vencimento</label> <input type="text"
						class="form-control data" name="dataVencimento" id="dataVencimento"
						required="required" data-minlength="10"
						placeholder="Data do vencimento"
						data-required-error="Campo obrigatório"
						data-minlength-error="Mínimo 8 caracteres" />
					<div class="help-block with-errors"></div>
				</div>
				<div class="form-group col-md-3">
					<label for="valor">Valor</label> <input type="text"
						class="form-control valor" name="valor" id="valor"
						required="required" data-minlength="2" maxlength="15"
						placeholder="Valor da fatura"
						data-required-error="Campo obrigatório"
						data-minlength-error="Mínimo 2 caracteres" />
					<div class="help-block with-errors"></div>
				</div>
				<div class="form-group col-md-3">
					<label for="dataPagamento">Data pagamento</label> <input type="text"
						class="form-control data" name="dataPagamento" id="dataPagamento"
						required="required" data-minlength="10" maxlength="15"
						placeholder="Data do pagamento"
						data-required-error="Campo obrigatório"
						data-minlength-error="Mínimo 8 caracteres" />
					<div class="help-block with-errors"></div>
				</div>
			</div>

			<hr />

			<div class="row">
				<div class="col-md-12">
					<input type="submit" id="btnFaturaSalvar" class="btn btn-primary"
						value="Salvar" />
					<button type="button" id="btnCancelar" class="btn btn-primary">Cancelar</button>
				</div>
			</div>

		</form>