<div>
	<script type="text/javascript">
		jQuery(function($) {
			$(".btn-meuExtrato").click(function() {
				$.ajaxSetup({cache : false});
				$("#divExibir").load("../contribuinte/" + "login" + "/extrato"); //consulta extrato
				$(".divBase").hide("slow");
			});
		
			$(".btn-meuCadastro").click(function() {
				$.ajaxSetup({cache : false});
				$("#divExibir").load("../usuario/" + "login"); //consulta cadastro
				$(".divBase").hide("slow");
			});	
		});
	</script>
	
	<h3 class="page-header">O que deseja fazer?</h3>

	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<h3>Minhas informações</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2 col-md-offset-1">
			<a href="#" class="btn-meuExtrato btn btn-primary btn-block">Meu extrato</a>
		</div>
				
		<div class="col-md-2">
			<a href="#" class="btn-meuCadastro btn btn-primary btn-block">Meu cadastro</a>
		</div>
	</div>
</div>