	<h3>Bem vindo!!!</h3>
	<h4>
		<div class="row">
			<div class="col-md-12">
				<p class="text-justify">
					Aqui você tem acesso a suas informações de pagamento.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<p class="text-justify">
					Caso haja divergência de informações <a href="mailto:carlos.esc@live.com">entre em contato</a> com o administrador.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<p class="text-justify">
					Se já efetuou o cadastro e só clicar em login.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<p class="text-justify">
					Ainda não é cadastrado? clique em cadastrar!	
				</p>	
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="col-md-2">
				<p>
					<a href="/login" class="btn btn-lg btn-primary btn-block" role="button">Login</a>
				</p>	
			</div>
			<div class="col-md-2">
				<p>
					<a href="/anonimo/cadastrar" class="btn btn-lg btn-primary btn-block" role="button">Cadastrar</a>
				</p>	
			</div>
		</div>
	</h4>