<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Sistema para Controle de Pagamento dos Moradores (Acesso negado!!!)</title>

<div th:replace="/publico/fragments/config-html-css-js :: header"></div>

</head>
<body>
	
	<div th:replace="/publico/fragments/header :: header"></div>
		
	<h1>403 - Acesso negado!!!</h1>
	<div th:inline="text">Olá Sr(a) <span th:text="${nome}"></span>, você não possui permissão para acessar esta página.</div>

	<div th:replace="/publico/fragments/footer :: footer"></div>
		
</body>
</html>	
	
