<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Sistema para Controle de Pagamento dos Moradores</title>

<div th:replace="fragments/config-html-css-js :: header"></div>

</head>
<body>
	<div th:replace="fragments/header :: header"></div>
		
		<div sec:authorize="isAnonymous()">
			<div th:replace="isAnonymous/menu"></div>	
		</div>
		
		<div sec:authorize="isAuthenticated()">
			<div th:replace="isAuthenticated/direcionaNivel"></div>
		</div>

	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>