<div class="container">
	<h3>Parabéns!!!</h3>
	<h4>
		<div class="row">
			<div class="col-md-12">
				<p class="text-justify">
					Agora você pode ter acesso a suas faturas pagas...	
				</p>	
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col-md-12">
				<p class="text-justify">
					Futuramente estaremos disponibilizando informações da nossa rua através deste site.
				</p>	
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col-md-12">
				<p class="text-justify">
					É só clicar em Login e curtir o nosso site!!!
				</p>	
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="col-md-2">
				<p>
					<a href="/login" class="btn btn-lg btn-primary btn-block" role="button">Login</a>
				</p>	
			</div>
		</div>
	</h4>
</div>